/*container styling*/

.container-fluid {
    background-color: #f8f9fa;
}

.deckgrid-container {
    padding-top: 50px;
}

/*navigation*/

#navbar {
    background-color: #f8f9fa;
}

/*headers*/

/*body*/

#resultsContent{
    margin-bottom: 50px;
}

.searchbar {
    height: 80px;
}

.quick-access-header {
    height: 150px;
}

.quick-access-row {
    height: 250px;
}

.searchButton {
    width: 150px;
}

.cardImage {
    position: relative;
    height: 285px;
    width: 404px;
}

/*footer*/

/*inventory*/

.deckgrid {
    min-height: 200px;
}

.inventory-filters {
    height: 150px;
}


/*Decklist*/



/*other?*/











/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .quick-access-content {
        padding: 20px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .quick-access-content {
        padding: 50px;
    }
}
