/*container & body styling*/

body {
    background-color: #1f1f1f;
}

/*navigation*/

#navbar {
    background-color: #1f1f1f;
    padding-bottom: 20px;
    padding-top: 20px;
}

nav>a {
    color: #D3D3D3;
}

li>a {
    color: #D3D3D3;
}

.cardSearchBar {
    width: 100%;
}

/*headers*/

/*body*/

#slideshowImg {
    max-width: 100%;
    max-height: 100%;
}

#cardImage {
    position: relative;
    height: 285px;
    width: 404px;
}

.imgClass {
    width: inherit;
}

#cardMain {
    width: 18rem;
}

#cardRowId {
    padding-bottom: 50px;
    max-width: 50rem;
}

#card-title {
    color: #000;
    padding: 5px 15px 10px 15px;

}

.card-text {
    color: #000;
    margin-bottom: 10px;
    border-bottom: 1px solid #000;
    padding: 0 15px 5px 15px;
}

.card-body {
    border: 3px solid #000;
    margin: 15px auto 0 auto;
    padding: 0px;
}

#cardData {
    padding: 0px 0px 0px 0px;
    background-color: #fff;
}

#addedInfo{
    color: black;
    padding: 10px 5px 5px 5px;
}


/*footer*/

#footerInfo {
    color: white;
}

#ApiLink {
    color: white;
}

#ApiInfo {
    margin-bottom: 2rem;
}

#copyrightFooter {
    color: #fff;
    margin-top: 2rem
}

#gitHubLink {
    color: #fff;
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .imgClass {
        width: 75%;
    }
    .cardSearchBar {
        width: 50%;
    }
    #cardData {
        padding: 15px 15px 15px 15px;
    }
    #infoData {
        text-align: center;
    }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .quick-access-content {
        padding: 20px;
    }
    .card-body {
        margin: 0px auto 0 auto;
    }
    .cardSearchBar {
        width: 100%;
    }
    
    #addedInfo{
    padding: 15px 10px 10px 10px;
}


}


/* Very large devices (large tablets, laptops, 1200px and up) */

@media (min-width: 1200px) {
    .quick-access-content {
        padding: 50px;
    }

    .nav-link:hover {
        color: #A9A9A9;
    }

    li>a:hover {
        color: #A9A9A9;
    }

    #ApiLink:hover {
        cursor: pointer;
    }
    
    #gitHubLink:hover {
        cursor: pointer;
    }
    #navbar {
        margin-top: 20px;
        margin-bottom: 20px;
    }

}

/* Extra large devices (large desktops, Monitors, TV's, 1920px and up) */

@media (min-width: 1920px) {
#mainContainer {
    padding-left: 100px;
    padding-right: 100px 
}
    
}

